@media(max-width:1699px) {


}



@media (max-width:1599px){

	h1,.h1 { font-size:55px;}
	h2,.h2 { font-size:36px;}
	h3,.h3 { font-size:28px;}
	h4,.h4 { font-size:18px;}
	h5,.h5 { font-size:16px;}  
	h6,.h6 { font-size:14px;}


    /** Home page **/



   .container{max-width:1324px;}
	.vertical-slider-stxt{font-size:80px;}
	.vertical-box-wrap-inner a{font-size:80px;}
	.vertical-box-wrap-inner a span{text-decoration-thickness:3px;text-underline-offset:10px;}
	.banner-main{min-height:calc(100vh - 160px);}
	.banner-slider-wrap{line-height:1.5;}

    /** slider **/

	.slick-dots{top:5px;top:10px;}


   /** Home Screen **/

	.article-ltr-right{width:420px;}
	.article-ltr-left{width:calc(100% - 460px);}
	.article-title-date-main{padding:15px 20px 20px 20px;}
	.article-la-slink .article-title-date-smain{padding:15px 15px 20px 15px;border-radius:15px;}
	.article-pdate{font-size:14px;}
	.article-title-d-arrow svg{width:25px;height:25px;}
	.article-title-date-smain .article-title-date-wrap{padding-bottom:15px;margin-bottom:15px;}
	.article-ltr-tr-main{margin-top:220px;}
	.article-title-d-wp{width:calc(100% - 25px);padding-right: 10px;}
	.brrt-point li a{padding:7px 14px 8px 14px;margin:0px 4px 8px 0px;}
	.article-ltr-retopic-wrap{margin-top:30px;}
	.article-ltr-topa-box p{line-height:1.4;}
	.article-ltr-t{margin-bottom:20px;}
	.article-ltr-tr-wrap .article-ltr-t{margin-bottom:15px;}
	.article-ltr-topa-box h4{margin-bottom:8px;text-transform: capitalize;}
	.article-ltr-postd{padding-bottom:10px;margin-top:2px;margin-bottom:10px;}
	.article-ltr-retopic-wrap{margin-top:10px;}


   /** Detail Screen **/

	.detail-screen-sarticle-t{font-size:18px;}
	.detail-screen-sarticle-icon{width:25px;height:25px;}
	.detail-screen-p-txt p{font-size:16px;}
	.first-sec-tb-space{padding-top:120px;padding-bottom:50px;min-height:calc(100vh - 96px);}
	.detail-screen-ban-wrap{margin-top:30px;margin-bottom: 25px;}
	.detail-screenb-main h1{font-size:38px;}
	.detail-screenb-main h2{font-size:28px;}
	.detail-screenb-main h3{font-size:26px;}
	.detail-screenb-main h4{font-size:22px;}
	.detail-screenb-main h5{font-size:18px;}
	.detail-screenb-main h6{font-size:16px;}
	.detail-screenb-main b,.detail-screenb-main strong{font-size:18px;}
	.detail-screenb-main ul li{font-size:16px;margin-bottom:8px;}
	.detail-screenb-main h1,.detail-screenb-main h2,.detail-screenb-main h3,.detail-screenb-main h4,.detail-screenb-main h5,.detail-screenb-main h6{margin-top:30px;}
	.detail-screenb-main ul{margin:13px 0px 13px;}
	.detail-screen-latest-article-main{margin-top:70px;}
	.detail-screenb-main p{font-size:16px;}
	.detail-screen-sarticle-wrap{width:155px;}
	.detail-screen-title-inn{width:calc(100% - 155px);padding-right:15px;}
	.detail-screen-ban-wrap{border-radius:30px;}
	.detail-screenb-main ol li{font-size:16px;margin-bottom:8px;}


   /** Search page **/

   .pagination-wrap .page-link{padding:8px 12px;font-size:14px;margin-right:10px;}



}

@media (max-width: 1499px) { 



	h1,.h1 { font-size:50px;}
	h2,.h2 { font-size:32px;}
	h3,.h3 { font-size:26px;}
	h4,.h4 { font-size:16px;}
	h5,.h5 { font-size:16px;}  
	h6,.h6 { font-size:14px;}


	.btn{padding:17px 20px;font-size:17px;min-width:146px;}


    /** Home page **/ 

	.container{max-width:1224px;}
	.vertical-slider-stxt{font-size:70px;}
	.vertical-box-wrap-inner a{font-size:70px;}
	.banner-slider-wrap{line-height:1.7;}
	.mouse-icon-wrap img{width:40px;height:40px;}

   /** Home Screen **/

	.article-ltr-right{width:390px;}
	.article-ltr-left{width:calc(100% - 420px);}
	.brrt-point li a{padding:6px 12px 7px 12px;margin:0px 2px 7px 0px;}
	.article-ltr-tr-main{margin-top:215px;}
	.article-la-slink .article-title-date-smain{outline:4px solid transparent!important;}
	.article-la-bn-img-wrap{outline:4px solid transparent!important;}

   /** Detail Screen **/

	.detail-screen-sarticle-t{font-size:16px;}
	.detail-screen-sarticle-icon{width:25px;height:25px;}
	.detail-screen-p-txt p{font-size:14px;}
	.first-sec-tb-space{padding-bottom:40px;}
	.detail-screen-ban-wrap{margin-top:30px;margin-bottom: 25px;}
	.detail-screenb-main h1{font-size:36px;}
	.detail-screenb-main h2{font-size:26px;}
	.detail-screenb-main h3{font-size:24px;}
	.detail-screenb-main h4{font-size:20px;}
	.detail-screenb-main h5{font-size:16px;}
	.detail-screenb-main h6{font-size:14px;}
	.detail-screenb-main b,.detail-screenb-main strong{font-size:16px;}
	.detail-screenb-main ul li{font-size:14px;margin-bottom:8px;}
	.detail-screenb-main h1,.detail-screenb-main h2,.detail-screenb-main h3,.detail-screenb-main h4,.detail-screenb-main h5,.detail-screenb-main h6{margin-top:25px;}
	.detail-screenb-main ul{margin:13px 0px 13px;}
	.detail-screen-latest-article-main{margin-top:60px;}
	.detail-screenb-main p{font-size:14px;}
	.detail-screen-sarticle-wrap{width:140px;}
	.detail-screen-title-inn{width:calc(100% - 140px);}
	.detail-screen-ban-wrap{border-radius:25px;}
	.detail-screenb-main ol li{font-size:14px;margin-bottom:8px;}

	
}

@media (max-width: 1399px) { 

	h1,.h1 { font-size:45px;}
	h2,.h2 { font-size:28px;}
	h3,.h3 { font-size:26px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}

	p{font-size: 16px;line-height: 26px;}


   .btn{padding:14px 18px 16px 18px;font-size:16px;min-width: 136px;}


   /** Home page **/ 

	.banner-main{min-height:calc(100vh - 140px);}
	.container{max-width:1100px;}
	.vertical-slider-stxt{font-size:60px;}
	.vertical-box-wrap-inner a{font-size:60px;}
	.banner-slider-wrap{line-height:2;}

   /** Home Screen **/

	.article-ltr-right{width:360px;}
	.article-ltr-left{width:calc(100% - 400px);}
	.article-ltr-tr-main{margin-top:205px;}
	.article-la-slink .article-title-date-smain{outline:3px solid transparent!important;}
	.article-la-bn-img-wrap{outline:3px solid transparent!important;}

   /** Detail Screen **/

	.detail-screen-sarticle-t{font-size:16px;}
	.detail-screen-sarticle-icon{width:25px;height:25px;}
	.detail-screen-p-txt p{font-size:14px;}
	.first-sec-tb-space{padding-bottom:30px;min-height:calc(100vh - 76px);}
	.detail-screen-ban-wrap{margin-top:25px;}
	.detail-screenb-main h1{font-size:34px;}
	.detail-screenb-main h2{font-size:24px;}
	.detail-screenb-main h3{font-size:22px;}
	.detail-screenb-main h4{font-size:18px;}
	.detail-screenb-main h5{font-size:14px;}
	.detail-screenb-main h6{font-size:14px;}
	.detail-screen-latest-article-main{margin-top:50px;}
	.detail-screenb-main p{font-size:14px;}
	.detail-screen-sarticle-wrap{width:140px;}
	.detail-screen-title-inn{width:calc(100% - 140px);}
	.detail-screen-ban-wrap{border-radius:20px;}


}

@media (max-width: 1299px) { 

	h1,.h1 { font-size:40px;}
	h2,.h2 { font-size:26px;}
	h3,.h3 { font-size:24px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}

   /** slider **/

    .slick-dots{top:0;top:10px;}

   /** Home Screen **/

	.article-ltr-right{width:340px;}
	.article-ltr-left{width:calc(100% - 350px);}
	.article-ltr-tr-main{margin-top:195px;}

   /** Detail Screen **/

	.detail-screen-ban-wrap{margin-top:25px;margin-bottom: 25px;}
	.detail-screenb-main h1{font-size:32px;}
	.detail-screenb-main h2{font-size:22px;}
	.detail-screenb-main h3{font-size:20px;}
	.detail-screenb-main h4{font-size:16px;}
	.detail-screenb-main h5{font-size:14px;}
	.detail-screenb-main h6{font-size:14px;}	


}

@media (max-width: 1199.98px) { 


	h1,.h1 { font-size:35px;}
	h2,.h2 { font-size:24px;}
	h3,.h3 { font-size:22px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}
	p{font-size: 16px;}


   .btn{padding:13px 16px 14px 16px;font-size:14px;min-width:126px;}


   /** Home page **/
	
	.banner-main{min-height:calc(100vh - 136px);}
	.banner-slider-wrap{line-height:1.9;}
	.container{width:96%;}
	.first-sec-tb-space{min-height:calc(100vh - 72px);}


   /** Detail Screen **/

	.detail-screenb-main h1{font-size:30px;}
	.detail-screenb-main h2{font-size:22px;}
	.detail-screenb-main h3{font-size:20px;}
	.detail-screenb-main h4{font-size:16px;}
	.detail-screenb-main h5{font-size:14px;}
	.detail-screenb-main h6{font-size:14px;}
	.detail-screen-p-txt p{font-size:14px;}
	.detail-screenb-main p{font-size:14px;}
			

}		




/*=========================================================
// Medium devices (tablets, less than 992px)
===========================================================*/

@media (max-width: 991.98px) 	{ 
	
	h1,.h1 { font-size:30px;}
	h2,.h2 { font-size:24px;}
	h3,.h3 { font-size:22px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}
	p{font-size: 16px;}



	.form-control::placeholder { font-size: 15px;}
	.form-control::-moz-placeholder { font-size: 15px;}
	.form-control:-ms-input-placeholder { font-size: 15px;}
	.form-control::-webkit-input-placeholder { font-size: 15px;}
	.form-control::-o-input-placeholder { font-size: 15px; }

   /** Home page **/

	.banner-main{min-height:calc(100vh - 126px);}
	.mouse-icon-wrap{right:10px;top:50%;transform:translateY(-50%);}
	.vertical-slider-stxt{font-size:50px;}
	.vertical-box-wrap-inner a{font-size:50px;}
	.first-sec-tb-space{min-height:calc(100vh - 66px);}

	/** slider **/

	.slick-dots{top:-10px;}

   /** Home Screen **/

	.article-ltr-left{width:100%;}
	.article-ltr-tr-main{margin-top:60px;}
	.article-ltr-right{width:100%;}
	.article-la-bn-img-wrap{border-radius:15px;}
	.article-la-slink .article-title-date-smain{outline:2px solid transparent!important;}
	.article-la-bn-img-wrap{outline:2px solid transparent!important;}


   /** Home Screen **/

   .article-la-swrap{margin-bottom:25px;}


   /** Detail Screen **/

	.detail-screen-p-txt p{font-size:14px;}
	.detail-screenb-main p{font-size:14px;}
	.detail-screenb-main ul li{margin-left:20px;}
	.detail-screen-title-wrap{margin-bottom:15px;}
	.detail-screenb-main hr{margin:25px 0px;}

	
}

/*=========================================================
// Small devices (landscape phones, less than 768px)
===========================================================*/

@media (max-width: 767.98px) {


	h1,.h1 { font-size:26px;}
	h2,.h2 { font-size:24px;}
	h3,.h3 { font-size:22px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}
	p{font-size: 14px;line-height: 24px;}


   /** Home page **/

	.banner-main{min-height:calc(100vh - 159px);}
	.vertical-slider-stxt{font-size:40px;}
	.vertical-box-wrap-inner a{font-size:40px;}
	.vertical-box-wrap-inner a span{text-decoration-thickness:2px;text-underline-offset:5px;}
	.mouse-icon-wrap img{width:30px;height:30px;}
	.banner-slider-wrap{line-height:2.3;}
	.first-sec-tb-space{padding-top:100px;min-height:calc(100vh - 104px);}

   /** latest article **/
   
	.article-title-date-lmain .article-title-date-wrap{margin-top:20px;}
	.article-la-l-img img{max-height:120px;}
	.article-title-date-main .article-title-date-wrap{margin-bottom:6px;}
	.article-title-date-main .article-title-d-wp h3{margin-bottom:4px;}
	.article-title-date-main{padding:10px 15px 15px 15px;}
	.article-la-bn-img-wrap{padding-bottom:55%;}


	/** Detail Screen **/

	.detail-screenb-main h1{font-size:28px;}
	.detail-screen-title-wp{justify-content:flex-start;}
	.detail-screen-sarticle-link{justify-content:flex-start;}
	.detail-screen-sarticle-t{display:none;}
	.detail-screen-sarticle-icon{margin-left:0;}
	.detail-screen-sarticle-wrap{width:25px;height:25px;}
	.detail-screen-title-inn{width:calc(100% - 25px);}


	/** Search page **/

   .pagination-wrap{margin-top:30px;}
	.modal-ashare-link{padding:17px 80px 17px 16px;border-radius:45px;font-size:14px;}
	.ashare-copy{font-size:16px;padding:7px 13px 9px;right:10px;}
	
	
}

/*=========================================================
Extra small devices (portrait phones, less than 576px)
===========================================================*/
@media (max-width: 576px) { 


	h1,.h1 { font-size:26px;}
	h2,.h2 { font-size:24px;}
	h3,.h3 { font-size:22px;}
	h4,.h4 { font-size:15px;}
	h5,.h5 { font-size:15px;}  
	h6,.h6 { font-size:14px;}


   /** Home page **/

	.container{ width: 100%; padding-left:20px; padding-right:20px; }
	

	/** Detail Screen **/

	.detail-screenb-main h1{font-size:26px;}


}


@media(max-width:499px) {

	/** latest article **/

   .article-la-bn-img-wrap{padding-bottom:65%;}

}




/*=========================================================
Extra small devices (portrait phones, less than 481px)
===========================================================*/
@media (max-width: 481px) { 


   /** Home page **/

	.vertical-slider-stxt{font-size:28px;}
	.vertical-box-wrap-inner a{font-size:28px;text-decoration-thickness:2px;}
	.banner-slider-wrap{line-height:3;}

   /** latest article **/

	

}


/*=========================================================
Extra small devices (portrait phones, less than 420px)
===========================================================*/
@media (max-width: 422px) { 


   /** Home page **/

	.banner-main{min-height:calc(100vh - 187px);/*min-height:calc(100vh - 227px);*/}
	.first-sec-tb-space{min-height:calc(100vh - 132px);}
	

}


@media(max-width:399px) {

	/** latest article **/

   .article-la-bn-img-wrap{padding-bottom:75%;}

}


